/*********************************************
    FORM CLASS
*********************************************/

.background-signup {
    background-color: #F6F7F8;
    min-height: 100%;
    height: auto;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-block {
    position: relative;
    background-color: white;
    width: 460px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo-deepsight {
    position: relative;
    margin-left: calc(50% - 40px);
    margin-right: calc(50% - 40px);
    height: 80px;
}

.sign-in-title {
    position: relative;
    font-family: proximanovaregular;
    font-size: 26px;
    color: #23231C;
    text-align: center;
}

.sign-in-instructions {
    position: relative;
    font-family: proximanovaregular;
    font-size: 14px;
    line-height: 18px;
    color: #7D7E7F;
    text-align: center;
    width: 320px;
    margin-left: calc(50% - 160px);
    margin-right: calc(50% - 160px);
    margin-bottom: 20px;
}

.form-content {}

.form-label, .form-label-disabled {
    position: relative;
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-family: proximanovaregular;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-label {
    color: #23231C;
}

.form-label-disabled {
    color: #C5CDD1;
}

.sign-up-input, .sign-up-input-not-ok, {
    position: relative;
    font-family: proximanovaregular;
    border-radius: 3px;
    outline: none;
    color: #23231C;
    font-size: 14px;
    display: block;
    width: 240px;
    height: 26px;
    margin: 0 auto;
    padding-left: 10px;
}

.sign-up-input-not-ok {
    border: solid 1px #EF2B2D;
}

.sign-up-input {
    border: solid 1px #979797;
}

.sign-up-input-disabled {
    background-color: #F6F7F8;
}

.submit-button, .submit-button-disabled {
    position: relative;
    width: auto;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: none;
    border: none;
    outline: 0 none;
}

.submit-button {
    background-color: #1580EF;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0B5BAD;
}

.submit-button-disabled {
    opacity: 0.5;
    background-color: #1580EF;
}

.submit-button-text, .submit-button-text-disabled {
    font-family: proximanovaregular;
    font-size: 14px;
    line-height: 28px;
}

.submit-button-text {
    color: white;
}

.submit-button-text-disabled {
    color: white;
}

.spacer-styled {
    position: relative;
    direction: block;
    width: 400px;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #D8D8D8
}

.sign-in-another-option {
    font-family: proximanovaregular;
    font-size: 14px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #909191;
}

.help-block, .reset-pwd {
    position: relative;
    font-family: proximanovaregular;
    font-size: 10px;
    line-height: 14px;
    width: 240px;
    margin: 0 auto;
    padding-left: 20px
}

.help-block {
    color: #EF2B2D;
}

.reset-pwd {
    text-decoration: underline;
}

.resetpwd-link {
    color: #7D7E7F;
}

///error
.sign-in-information-block {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #22B577;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.sign-in-information-error-block {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #EF2B2D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.sign-in-information-block-content {
    font-family: proximanovaregular;
    font-size: 12px;
    color: white;
}

.sign-in-information-block-up, .sign-in-information-block-down {
    overflow-y: hidden;
    -webkit-transition: max-height 300ms ease-in-out;
    -moz-transition: max-height 300ms ease-in-out;
    -o-transition: max-height 300ms ease-in-out;
    transition: max-height 300ms ease-in-out;
}

.sign-in-information-block-up {
    max-height: 0;
}

.sign-in-information-block-down {
    max-height: 20px;
    overflow-y: scroll;
}
