.terms-and-conditions-wrapper {
    position: absolute;
    top: 130px;
    height: auto;
    width: calc(100% - 80px);
    margin-left: 40px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 40px;
}

.terms-and-conditions-sublock {
    position: relative;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.terms-and-conditions-title {
    position: relative;
    font-family: proximanovaregular;
    font-size: 14px;
    color: #23231C;
    line-height: 26px;
    text-transform: uppercase;

}

.terms-and-conditions-content {
    position: relative;
    font-family: proximanovaregular;
    font-size: 14px;
    color: #23231C;
}
