<loader ng-if="vm.loaderon"></loader>

<div class="popup-background" ng-if="vm.closeopenbool">
    <div class="popup-wrapper">
        <img class="close-popup" src="images/cross-close-modal-logo.png" ng-click="vm.closepopup()">
        <div class="popup-message">Es-tu sûr(e) de vouloir quitter la création de ta custom audience ?</div>
        <div class="popup-btn" ng-click="vm.cancel()">
            <div class="popup-btn-content">QUITTER</div>
        </div>
    </div>
</div>

<div class="create-audience-background">
    <div class="create-audience-modal">
        <div class="create-audience-modal-title">
            <h1 class="create-audience-modal-title-content">Créer une audience similaire </h1>
            <img class="close-modal" src="images/cross-close-modal-logo.png" ng-click="vm.cancelfirststep()">
        </div>

        <div class="progression-bar-wrapper">
            <div class="progression-bar-lookalike">
                <div class="progression-state progression-state-1">
                    <div ng-class="vm.progressionstatenumber1">
                        <div class="progression-state-number-content"> 1</div>
                    </div>
                    <div ng-class="vm.progressionstatename1">Choix Audience</div>
                </div>
                <div ng-class="vm.progressionbar12"></div>
                <div class="progression-state progression-state-2">
                    <div ng-class="vm.progressionstatenumber2">
                        <div class="progression-state-number-content">2</div>
                    </div>
                    <div ng-class="vm.progressionstatename2">Résumer</div>
                </div>
                <div ng-class="vm.progressionbar23"></div>
                <div class="progression-state progression-state-3">
                    <div ng-class="vm.progressionstatenumber3">
                        <div class="progression-state-number-content">3</div>
                    </div>
                    <div ng-class="vm.progressionstatename3">Terminer</div>
                </div>
            </div>
        </div>

        <div class="progression-bar-step-content-separator"></div>

        <!--         step1 -->

        <div class="step-content" ng-if="vm.step1boolean">
            <form name="chosecustomForm">
                <div class="step-message">
                    <div class="step-main-message">L'algorithme de Deepsight va étendre votre audience commune afin de trouver des profils similaires sur le réseau éditeur Deepsight</div>
                </div>

                <!--                 <div class="chose-audience-name">
                    <div class="chose-audience-name-title">Nom de l'audience</div>
                    <input name="name" class="chose-audience-name-input" ng-model="vm.lookalikeaudiencename" required></input>
                </div> -->

                <div class="chose-audience-name">
                    <div class="chose-audience-name-title">Choisissez une audience commune</div>
                    <div class="chose-btn-wrapper">
                        <div class="chose-btn" ng-click="vm.showfilter()">
                            <div class="chose-btn-content">
                                <div ng-class=" vm.choice === 'Liste des audiences communes disponibles' ? 'choice-to-chose-no' : 'choice-to-chose'">
                                    {{vm.choice}}
                                </div>
                                <div class="choice-show-noshow" ng-class="vm.filterclass"></div>
                            </div>
                        </div>
                        <div class="chose-list" ng-class="vm.filtershown">
                            <div class="chose-spacer"></div>
                            <div class="choice" ng-repeat="choice in vm.audiencetochose" ng-click="vm.selectfilter($index)">
                                <div class="choice-content" ng-class="{activefilterclass : vm.activefilter === filter.name}">{{choice.name}}</div>
                            </div>
                        </div>
                        <div class="chose-list-bottom" ng-class="vm.filterbottom"></div>
                    </div>
                </div>

                <div class="bottom-option-cancel-next">
                        <div class="cancel-btn" ng-click="vm.closepopup()">
                            <div class="cancel-btn-content">ANNULER</div>
                        </div>
                    <div ng-class="chosecustomForm.name.$invalid || !vm.nofileboolean ? 'next-btn-disabled' : 'next-btn'" ng-click="vm.check(!chosecustomForm.name.$invalid && vm.nofileboolean)">

                        <div class="next-btn-content">SUIVANT</div>
                    </div>
                </div>
            </form>
        </div>

        <!--     step2 -->

        <div class="step-content" ng-if="vm.step2boolean">

            <div class="step-message">
                <div class="step-main-message">Deepsight va créer l'audience Lookalike Suivante :
                    <br>
                    <span style='color:#1580EF'>{{vm.lookalikeaudiencename}}</span>
                    <br>
                    <br>
                    Voici les éditeurs qui composent le segment d'audience commune<br>
                    L'algorithme de Deepsight va étendre cette audience et trouver des profils similaire
                </div>
                <div class="step-sub-message">Audience commune : {{vm.choice}}</div>
            </div>

            <div class="publishers-wrapper">
                <div class="publishers-features">
                    <div class="column1bis-features">ÉDITEURS</div>
                </div>
                <div class="publisher-row" ng-repeat="publisher in vm.audienceselected.publishers_list">
                    <div class="column1bis">{{publisher}}</div>
                </div>
                <div class="total-match">
                    <div class="total-match-content">
                        <div class="total">{{vm.sizetodisplay}}</div>
                        <div class="total-subtitle">Utilisateurs communs</div>
                    </div>
                </div>
            </div>

            <div class="bottom-option-cancel-next">
                    <div class="cancel-btn" ng-click="vm.closepopup()">
                        <div class="cancel-btn-content">ANNULER</div>
                    </div>
                <div class="next-btn" ng-click="vm.nextstepfunction(); vm.createlookalikeaudience()" >
                    <div class="next-btn-content">SUIVANT</div>
                </div>
            </div>

            <!--             <div class="chose-audience-name">
                <div class="chose-audience-name-title">Nom de l'audience </div>
                <input name="name" class="chose-audience-name-input" ng-model="vm.lookalikeaudiencename" required></input>
            </div> -->

        </div>

        <!--         step3 -->

        <div class="step-content" ng-if="vm.step3boolean">
            <img src="images/clock.png" class="clock-class">
            <div class="step-message-bis">
                <div class="step-main-message">
                    <span style="color:#23231C">Félicitations, la création de votre audience similaire a démarré, vous serez notifié par email lorsque votre audience sera disponible</span>
                </div>
            </div>

            <div class="bottom-option-cancel-next">

                <a ui-sref="home.lookalikeaudience">
                    <div class="wait-btn">
                        <div class="wait-btn-content">OK</div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>
