<loaderper ng-if="vm.loaderonper"></loaderper>
<loader ng-if="vm.loaderon"></loader>

<div class="popup-background" ng-if="vm.closeopenbool">
    <div class="popup-wrapper">
        <img class="close-popup" src="images/cross-close-modal-logo.png" ng-click="vm.closepopup()">
        <div class="popup-message">Es-tu sûr(e) de vouloir quitter la création de ta custom audience ?</div>
        <div class="popup-btn" ng-click="vm.cancel()">
            <div class="popup-btn-content">QUITTER</div>
        </div>
    </div>
</div>

<div class="create-audience-background">
    <div class="create-audience-modal">
        <div class="create-audience-modal-title">
            <h1 class="create-audience-modal-title-content">Créer une audience commune </h1>
            <!--             <a ui-sref="home.customaudience"> -->
            <img class="close-modal" src="images/cross-close-modal-logo.png" ng-click="vm.cancelfirststep()">
            <!--             </a> -->
        </div>

        <div class="progression-bar-wrapper">
            <div class="progression-bar">
                <div class="progression-state progression-state-1">
                    <div ng-class="vm.progressionstatenumber1">
                        <div class="progression-state-number-content"> 1</div>
                    </div>
                    <div ng-class="vm.progressionstatename1">Upload</div>
                </div>
                <div ng-class="vm.progressionbar12"></div>
                <div class="progression-state progression-state-2">
                    <div ng-class="vm.progressionstatenumber2">
                        <div class="progression-state-number-content">2</div>
                    </div>
                    <div ng-class="vm.progressionstatename2">Matching</div>
                </div>
                <div ng-class="vm.progressionbar23"></div>
                <div class="progression-state progression-state-3">
                    <div ng-class="vm.progressionstatenumber3">
                        <div class="progression-state-number-content">3</div>
                    </div>
                    <div ng-class="vm.progressionstatename3">Résumé</div>
                </div>
                <div ng-class="vm.progressionbar34"></div>
                <div class="progression-state progression-state-4">
                    <div ng-class="vm.progressionstatenumber4">
                        <div class="progression-state-number-content">4</div>
                    </div>
                    <div ng-class="vm.progressionstatename4">Terminer</div>
                </div>
            </div>
        </div>

        <div class="progression-bar-step-content-separator"></div>

        <!--         step1 -->

        <div class="step-content" ng-if="vm.step1boolean">

            <form name="nameForm">
                <div class="step-message">
                    <div class="step-main-message" ng-click="vm.broadcastevent()">Choisissez un nom d'audience et un fichier</div>
                    <div class="step-sub-message">Ton fichier va être upload en préparation sur matching sur les bases éditeurs</div>
                </div>
                <div class="chose-audience-name">
                    <div class="chose-audience-name-title">Nom de l'audience</div>

                    <input class="chose-audience-name-input" name="name" ng-model="vm.audiencename" required></input>

                </div>
                <div class="chose-file">
                    <div class="chose-file-title">Choisissez un fichier</div>
                    <div id="dropzone-container" ng-class="vm.chossefile1" ng-mouseenter="vm.dropin()" ng-mouseleave="vm.dropout()">
                        <div id="select-zone" ng-class="vm.chossefile2">
                            <div ng-class="vm.chossefile3">Glissez un fichier ou cliquez </div>
                            <div id="preview-template" style="display:none">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="file-name-wrapper" ng-if="vm.errormd5head">
                    <div class="error-upload">
                        <div class="error-upload-message"> Choisi un nouveau fichier avec l'entête md5 dans la colonne contenant les md5</div>
                    </div>
                </div>

                <div class="file-name-wrapper">
                    <div class="file-name">
                        <div class="file-name-title"> Nom du fichier : </div>
                        <img ng-if="vm.nofileboolean" class="file-logo" src="images/xls.png">
                        <div ng-class="vm.filenameclass"> {{vm.filename}}</div>
                    </div>
                </div>

                <div class="bottom-option-cancel-next">
                    <a ui-sref="home.customaudience">
                        <div class="cancel-btn">
                            <div class="cancel-btn-content">ANNULER</div>
                        </div>
                    </a>
                    <div ng-class="nameForm.name.$invalid || !vm.nofileboolean ? 'next-btn-disabled' : 'next-btn'" ng-click="nameForm.name.$invalid || !vm.nofileboolean || vm.upload()">
                        <div class="next-btn-content">UPLOAD</div>
                    </div>
                </div>
            </form>
        </div>

        <!--     step2 -->

        <div class="information-block-error-done" ng-class="vm.showmessage">
            <div class="information-block-error-done-content">Il a eu une erreur dans le matching des bases de donnes, réessayez à nouveau de matcher</div>
        </div>

        <div class="step-content" ng-if="vm.step2boolean">

            <!--             <div class="information-block-error-done" ng-class="vm.showmessage">
                <div class="information-block-error-done-content">Il a eu une erreur dans le matching des bases de donnes, réessayez à nouveau de matcher</div>
            </div> -->

            <div class="step-message">
                <div class="step-main-message">
                    <span style="color:#22B577">Votre fichier à été upload avec succès</span>
                </div>
                <div class="step-sub-message">Maintenant, construisez votre audience commune en matchant ce fichier avec nos bases de données éditeur</div>
            </div>
            <div class="bottom-option-cancel-next">
                <a ui-sref="home.customaudience">
                    <div class="cancel-btn">
                        <div class="cancel-btn-content">ANNULER</div>
                    </div>
                </a>
                <div class="next-btn" ng-click="vm.match()">
                    <div class="next-btn-content">MATCH</div>
                </div>
            </div>
        </div>

        <!--         step3 -->

        <div class="step-content" ng-if="vm.step3boolean">

            <div class="step-message">
                <div class="step-main-message">
                    <span style="color:#22B577">Votre fichier a été matché avec succès avec nos éditeurs partenaires</span>
                </div>
                <div class="step-sub-message">Nous avons matché vos données avec les bases suivantes de nos éditeurs partenaires</div>
            </div>

            <div class="publishers-wrapper">
                <div class="publishers-features">
                    <div class="column1bis-features">ÉDITEURS</div>
                    <div class="column2bis-features">TAILLE</div>
                    <div class="column3bis-features">%TOTAL</div>
                </div>
                <div class="publisher-row" ng-repeat="audience in vm.audiencetodisplay">
                    <div class="column1bis">{{audience._id}}</div>
                    <div class="column2bis">
                        <span style="color:#1580EF">{{audience.count}}</span>
                    </div>
                    <div class="column3bis">10%</div>
                </div>
                <div class="total-match">
                    <div class="total-match-content">
                        <div class="total">{{vm.sizetodisplay}}</div>
                        <div class="total-subtitle">Utilisateurs communs</div>
                    </div>
                </div>
            </div>

            <div class="bottom-option-cancel-next">
                <a ui-sref="home.customaudience">
                    <div class="cancel-btn">
                        <div class="cancel-btn-content">ANNULER</div>
                    </div>
                </a>
                <div class="next-btn" ng-click="vm.nextstepfunction()">
                    <div class="next-btn-content">SUIVANT</div>
                </div>
            </div>
        </div>

        <!--         step4 -->

        <div class="step-content" ng-if="vm.step4boolean">
            <div class="step-message">
                <div class="step-main-message">
                    <span style="color:#22B577">Votre audience a bien été créée</span>
                </div>
                <div class="step-sub-message">Passez à l'étape suivante</div>
            </div>
            <div class="next-step-option">
                <div class="options-wrapper">
                    <a ui-sref="home.makeadeal">
                        <div class="make-deal-btn">
                            <div class="make-deal-btn-content"> Achat média</div>
                        </div>
                    </a>

                    <a ui-sref="home.lookalikeaudience">
                        <div class="create-lookalike-btn">
                            <div class="create-lookalike-btn-content">Audience similaire</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="bottom-option-cancel-next">
                <a ui-sref="home.customaudience">
                    <div class="done-btn">
                        <div class="done-btn-content">OK</div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
