<loader ng-if="vm.pageloadingboolean"></loader>

<div class="popup-background" ng-if="vm.closeopenbool">
    <div class="popup-wrapper">
        <img class="close-popup" src="images/cross-close-modal-logo.png" ng-click="vm.closepopup()">
        <div class="popup-message">Es-tu sûr de vouloir supprimer l'audience ?</div>
        <div class="popup-btn" ng-click="vm.deleteaudience()">
            <div class="popup-btn-content">SUPPRIMER</div>
        </div>
    </div>
</div>

<div class="category-block" id="customaudienceblock">
    <div class="information-block-success-campaign " ng-class="vm.showmessage">
        <div class="information-block-success-campaign-content ">L'audience selectionnée a bien été mise à jour</div>
    </div>

    <div class="category-title">
        <div ng-click="vm.addaudienceLoop()">Audience commune</div>
    </div>
    <div class="category-subtitle" ng-click="vm.broadcastevent()"> Affichage de(s)
        <span style='color:#1580EF'>{{vm.audienceshown}}</span> audience(s) commune(s) crée(s)</div>
    <!--     <div class="filter-btn-wrapper">
        <div class="filter-btn" ng-click="vm.showfilter()">
            <div class="filter-btn-content">
                <div class="filter-to-chose">Filtrer par
                </div>
                <div class="filter-to-chose filter">
                    {{vm.activefilter}}
                </div>
                <div class="filter-show-noshow" ng-click="" ng-class="vm.filterclass"></div>
            </div>
        </div>
        <div class="filter-list" ng-class="vm.filtershown">
            <div class="filter-spacer"></div>
            <div class="filters" ng-repeat="filter in vm.filter" ng-click="vm.selectfilter($index)">
                <div class="filters-content" ng-class="{activefilterclass : vm.activefilter === filter.name}">{{filter.name}}</div>
            </div>
        </div>
        <div class="filter-list-bottom" ng-class="vm.filterbottom" ng-click="vm.showfilter()"></div>
    </div> -->
    <a ui-sref=".createcustomaudience">
        <div class="create-audience-btn">
            <div class="create-audience-btn-content">
                <img class="cross-class" src="images/cross.png">
                <div class="create-audience-text">CREER AUDIENCE</div>
            </div>
        </div>
    </a>

    <div class="userfilter-wrapper ">
        <input class="search-bar" type="text" name="query" placeholder="Entre ici un élément pour filtrer les audiences communes" ng-model="vm.userquery">
    </div>

    <img ng-if="vm.noaudiencebool" src="images/pointer.png" class="pointer pointeranimation">

    <div ng-if="vm.noaudiencebool" class="no-audience">
        <div class="no-audience-content">Vous n'avez pas encore créé d'audience!</div>
    </div>

    <div class="audience-wrapper" ng-if="!vm.noaudiencebool">
        <div class="audience-features">
            <div class="column-user-top">
                <p class="column-user-top-content">NOM</p>
            </div>
            <div class="column-user-top">
                <div class="column-user-top-content">TAILLE</div>
            </div>
            <div class="column-user-top">
                <div class="column-user-top-content">NB ÉDITEUR</div>
            </div>
            <div class="column-user-top">
                <div class="column-user-top-content">DATE</div>
            </div>
            <div class="column-user-top">
                <div class="column-user-top-content">CREATOR</div>
            </div>
            <div class="column-user-top">
                <div class="column-user-top-content">STATUS</div>
            </div>
            <div class="column-user-top">
                <div class="column-user-top-content">COMPANY</div>
            </div>
        </div>
        <div class="audience-block" ng-repeat="audience in vm.audiencesloaded | filter:vm.userquery">
            <div class="audience-container" ng-click="vm.closemoreinfo(); vm.loadmoreinfo($index)">
                <div class="column-user-top">
                    <p class="column-user-content">{{audience.name}}</p>
                </div>
                <div class="column-user-top">
                    <div class="column-user-content">{{audience.size}}</div>
                </div>
                <div class="column-user-top">
                    <div class="column-user-content">{{audience.nb_publishers}}</div>
                </div>
                <div class="column-user-top">
                    <div class="column-user-content">{{audience.date}}</div>
                </div>
                <div class="column-user-top">
                    <div class="column-user-content">{{audience.creator}}</div>
                </div>
                <div class="column-user-top">
                    <div class="column-user-content">admin</div>
                </div>
                <div class="column-user-top">
                    <div class="column-user-content">Deepsight</div>
                </div>
                <!--                 <div class="column1">
                    <p class="column-content" ng-click="vm.viewmoreofcolumncontent($event,audience)">{{audience.name}}</p>
                </div>
                <div class="column2">
                    <div class="column-content">{{audience.size}}</div>
                </div>
                <div class="column3">
                    <div class="column-content">{{audience.nb_publishers}}</div>
                </div>
                <div class="column4">
                    <div class="column-content">{{audience.date}}</div>
                </div> -->
            </div>

            <div class="audience-action">
                <div class="column7">
                    <div class="modify-icon" ng-click="vm.loadaudience(); vm.loadaudiencedetail($index); vm.loadroleByIndex($index)"></div>
                </div>
                <div class="column6" ng-click="vm.loadindextodelete($index) ; vm.closepopup()">
                    <div class="delete-icon"></div>
                </div>
                <!--                 <div class="column5">
                    <div class="audience-option-deal" ng-click="vm.sendMail($index)">
                        <p class="audience-option-deal-content">Activer cette audience</p>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="load-more" ng-click="vm.loadmore()" ng-if="vm.loadmorebool">
            <div class="load-more-content">CHARGER PLUS ...</div>
        </div>
    </div>
</div>

<!-- More information -->
<div class="create-audience-background" ng-if="vm.modifyaudience">
    <div class="create-audience-modal">
        <div class="create-audience-modal-title">
            <h1 class="create-audience-modal-title-content">Modifier les informations de l'audience commune</h1>
            <img class="close-modal close-modal-generalinfo" src="images/cross-close-modal-logo.png" ng-click="vm.loadaudience()">
        </div>

        <form name="modifyForm" ng-submit="vm.submitForm(modifyForm.$valid)" class="formclass" novalidate>
            <div class="modify-information-wrapper">
                <label class="modify-information-title">Nom</label>
                <input type="text" name="name" ng-model="vm.audiencetodetail.name" placeholder="" ng-class="modifyForm.name.$error.minlength && modifyForm.name.$touched ? 'modify-information-input-not-ok' : 'modify-information-input'" autocomplete="off" ng-minlength="2" required>
                <p ng-if=" modifyForm.name.$error.minlength && modifyForm.name.$touched" class="help-block-modify">Un nom de minimum 2 caractère est requis</p>
            </div>

            <div class="modify-information-wrapper">
                <label class="modify-information-title">Taille</label>
                <input type="number" name="size" ng-model="vm.audiencetodetail.size" placeholder="" ng-class="modifyForm.size.$error.minlength && modifyForm.size.$touched ? 'modify-information-input-not-ok' : 'modify-information-input'" autocomplete="off" ng-minlength="2" required>
                <p ng-if="modifyForm.size.$error.minlength && modifyForm.size.$touched" class="help-block-modify">Une taille correspondant au minimum à une dizaine est requise</p>
            </div>

            <div class="modify-information-wrapper">
                <label class="modify-information-title">Date</label>
                <input type="text" name="date" ng-model="vm.audiencetodetail.date" placeholder="" class="modify-information-input disabled" autocomplete="off" ng-minlength="2" ng-disabled='true' required>
            </div>

            <div class="modify-information-wrapper">
                <label class="modify-information-title">Nombre d'éditeur</label>
                <input type="text" name="nb_publisher" ng-model="vm.audiencetodetail.nb_publishers" placeholder="" ng-class="modifyForm.nb_publisher.$error.minlength && modifyForm.nb_publisher.$touched ? 'modify-information-input-not-ok' : 'modify-information-input'" autocomplete="off" ng-minlength="1" required>
                <p ng-if="modifyForm.nb_publisher.$error.minlength && modifyForm.nb_publisher.$touched" class="help-block-modify">Un nombre d'édituer est requis</p>
            </div>



            <div class="modify-information-wrapper">
                <label class="modify-information-title">Creator</label>
                <input type="text" name="email" ng-model="vm.audiencetodetail.creator" ng-change="vm.emailtest()" ng-class="!vm.emailboolean && modifyForm.email.$touched ? 'modify-information-input-not-ok' : 'modify-information-input'" autocomplete="off" required>
                <p ng-if="!vm.emailboolean && modifyForm.email.$touched" class="help-block-modify">Un email valide est requis</p>
            </div>

            <button type="submit" ng-class="!vm.emailboolean || modifyForm.$invalid  ? 'submit-button-disabled':'submit-button' " class="submit-save" ng-disabled="modifyForm.$invalid">
                <div ng-class="!vm.emailboolean || modifyForm.$invalid ?'submit-button-text-disabled': 'submit-button-text' ">SAVE</div>
            </button>
        </form>

    </div>
</div>
<!-- End of more information -->

<ui-view></ui-view>
