<loader ng-if="vm.pageloadingboolean"></loader>

<div class="popup-background" ng-if="vm.closeopenbool">
    <div class="popup-wrapper">
            <img class="close-popup" src="images/cross-close-modal-logo.png" ng-click="vm.closepopup()">
        <div class="popup-message">Es-tu sûr de vouloir supprimer l'audience ?</div>
        <div class="popup-btn" ng-click="vm.deleteaudience()">
            <div class="popup-btn-content">SUPPRIMER</div>
        </div>
    </div>
</div>

<div class="category-block">

    <div class="category-title"><div ng-click="vm.addaudienceLoop()">Audience commune</div></div>
    <div class="category-subtitle" ng-click="vm.broadcastevent()"> Affichage des
        <span style='color:#1580EF'>{{vm.audienceshown}}</span> audience(s) commune(s) crée(s)</div>
    <div class="filter-btn-wrapper">
        <div class="filter-btn" ng-click="vm.showfilter()">
            <div class="filter-btn-content">
                <div class="filter-to-chose">Filtrer par
                </div>
                <div class="filter-to-chose filter">
                    {{vm.activefilter}}
                </div>
                <div class="filter-show-noshow" ng-click="" ng-class="vm.filterclass"></div>
            </div>
        </div>
        <div class="filter-list" ng-class="vm.filtershown">
            <div class="filter-spacer"></div>
            <div class="filters" ng-repeat="filter in vm.filter" ng-click="vm.selectfilter($index)">
                <div class="filters-content" ng-class="{activefilterclass : vm.activefilter === filter.name}">{{filter.name}}</div>
            </div>
        </div>
        <div class="filter-list-bottom" ng-class="vm.filterbottom"></div>
    </div>
    <a ui-sref=".createcustomaudience">
        <div class="create-audience-btn">
            <div class="create-audience-btn-content">
                <img class="cross-class" src="images/cross.png">
                <div class="create-audience-text">CREER AUDIENCE</div>
            </div>
        </div>
    </a>
    <img ng-if="vm.noaudiencebool" src="images/pointer.png" class="pointer pointeranimation">

    <div ng-if="vm.noaudiencebool" class="no-audience">
        <div class="no-audience-content">Vous n'avez pas encore créé d'audience!</div>
    </div>

    <div class="audience-wrapper" ng-if="!vm.noaudiencebool">
        <div class="audience-features">
            <div class="column1">
                <p class="column-content-features">NOM</p>
            </div>
            <div class="column2">
                <div class="column-content-features">TAILLE</div>
            </div>
            <div class="column3">
                <div class="column-content-features">NB EDITEURS</div>
            </div>
            <div class="column4">
                <div class="column-content-features">DATE</div>
            </div>
        </div>
        <div class="audience-container" ng-repeat="audience in vm.audiencesloaded | orderBy: vm.sortparameter ">
            <div class="column1">
                <p class="column-content" ng-click="vm.viewmoreofcolumncontent($event,audience)">{{audience.name}}</p>
            </div>
            <div class="column2">
                <div class="column-content">{{audience.size}}</div>
            </div>
            <div class="column3">
                <div class="column-content">{{audience.nb_publishers}}</div>
            </div>
            <div class="column4">
                <div class="column-content">{{audience.date}}</div>
            </div>

            <div class="column7">
                <div class="more-info-icon" ng-click="vm.closemoreinfo(); vm.loadmoreinfo($index)"></div>
            </div>
            <div class="column6" ng-click="vm.loadindextodelete($index) ; vm.closepopup()">
                <div class="delete-icon"></div>
            </div>
            <a ui-sref="home.lookalikeaudience">
                <div class="column5">
                    <div class="audience-option">
                        <p class="audience-option-content">Audience similaire</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="load-more" ng-click="vm.loadmore()" ng-if="vm.loadmorebool">
            <div class="load-more-content">CHARGER PLUS ...</div>
        </div>
    </div>
</div>

<!-- More information -->
<div class="create-audience-background" ng-if="vm.moreinfoboolean">
    <div class="create-audience-modal">
        <div class="create-audience-modal-title">
            <h1 class="create-audience-modal-title-content">{{vm.audiencetodetail.name}}</h1>
            <a ui-sref="home.customaudience">
                <img class="close-modal" src="images/cross-close-modal-logo.png" ng-click="vm.closemoreinfo()">
            </a>
        </div>

        <div class="step-content">
            <div class="information-block">
                <div class="info-sub-block">
                    <div class="info-sub-block-title">Audience</div>
                    <div class="info-sub-block-content">{{vm.audiencetodetail.name}}</div>
                </div>
                <div class="info-sub-block">
                    <div class="info-sub-block-title">Nombre d'éditeurs</div>
                    <div class="info-sub-block-content">{{vm.audiencetodetail.nb_publishers}}</div>
                </div>
                <div class="info-sub-block info-sub-block-action">
                    <div class="delete-icon-info-block" ng-click="vm.deleteaudienceById(vm.audiencetodetail.id)"></div>
                </div>
                <div class="info-sub-block">
                    <div class="info-sub-block-title">Size</div>
                    <div class="info-sub-block-content">{{vm.audiencetodetail.size}}</div>
                </div>
                <div class="info-sub-block">
                    <div class="info-sub-block-title">Date de Création</div>
                    <div class="info-sub-block-content">{{vm.audiencetodetail.date}}</div>
                </div>

                <div class="info-sub-block">
                    <a ui-sref="home.lookalikeaudience">
                        <div class="audience-option-info-block-wrapper">
                            <div class="audience-option-info-block">
                                <p class="audience-option-info-block-content">Create lookalike</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="publishers-wrapper">
                <div class="publishers-features">
                    <div class="column1bis-features">ÉDITEURS</div>
                    <div class="column2bis-features">TAILLE</div>
                    <div class="column3bis-features">%TOTAL</div>
                </div>
                <div class="publisher-row" ng-repeat="publisher in vm.audiencetodetail.publishers_list">
                    <div class="column1bis">{{publisher.publisher_name}}</div>
                    <div class="column2bis">
                        <span style="color:#1580EF">{{publisher.size}}</span>
                    </div>
                    <div class="column3bis">{{publisher.pertotal}}</div>
                </div>
<!--                 <div class="publisher-row">
                    <div class="column1bis">{{vm.audiencetodetail.publisher2.name}}</div>
                    <div class="column2bis">
                        <span style="color:#1580EF">{{vm.audiencetodetail.publisher2.size}}</span>
                    </div>
                    <div class="column3bis">{{vm.audiencetodetail.publisher2.overlapper}}</div>
                </div>

                <div class="publisher-row">
                    <div class="column1bis">{{vm.audiencetodetail.publisher3.name}}</div>
                    <div class="column2bis">
                        <span style="color:#1580EF">{{vm.audiencetodetail.publisher3.size}}</span>
                    </div>
                    <div class="column3bis">{{vm.audiencetodetail.publisher3.overlapper}}</div>
                </div> -->
                <div class="total-match">
                    <div class="total-match-content">
                        <div class="total">{{vm.audiencetodetail.size}}</div>
                        <div class="total-subtitle">persons matched</div>
                    </div>
                </div>
            </div>

            <div class="bottom-option-cancel-next">
                <div class="close-btn">
                    <div class="close-btn-content" ng-click="vm.closemoreinfo()">Close</div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- End of more information -->

<ui-view></ui-view>
