<loader ng-if="vm.pageloadingboolean"></loader>

<div class="popup-background" ng-if="vm.closeopenbool">
    <div class="popup-wrapper">
        <img class="close-popup" src="images/cross-close-modal-logo.png" ng-click="vm.closepopup()">
        <div class="popup-message">Es-tu sûr(e) de ne pas vouloir prendre en compte les modifications ?</div>
        <div class="popup-btn" ng-click="vm.cancel()">
            <div class="popup-btn-content">ANNULER</div>
        </div>
    </div>
</div>

<div class="category-block">
    <div class="category-title">Mon compte</div>
    <div class="category-subtitle">Voici avez ici la possibilité de consulter les informations de votre compte et de les modifier</div>
    <div class="general-information-wrapper">
            <div class="general-information-block">
        <div class="general-information-content-block">
            <div class="general-information-content-sub-block">
                <div class="general-information-content-title">Prénom</div>
                <div class="general-information-content-content">{{vm.user.firstname}}</div>
            </div>
            <div class="general-information-content-sub-block">
                <div class="general-information-content-title">Nom</div>
                <div class="general-information-content-content">{{vm.user.lastname}}</div>
            </div>
            <div class="general-information-content-sub-block">
                <div class="general-information-content-title">Email</div>
                <div class="general-information-content-content">{{vm.user.email}}</div>
            </div>
            <div class="general-information-content-sub-block">
                <div class="general-information-content-title">Entreprise</div>
                <div class="general-information-content-content">{{vm.user.organization}}</div>
            </div>
            <div class="edit-btn" ng-click="vm.modifyinformationf();vm.tvatest();vm.emailtest()">
                <div class="edit-btn-content">EDIT</div>
            </div>
        </div>
    </div>

    <div class="forgot-password-block">
        <div class="forgot-password-content-block">
            <div class="general-information-content-sub-block">
                <div class="general-information-content-title">Mot de passe</div>
                <div class="general-information-content-content">••••••••••</div>
            </div>
            <div class="edit-btn" ng-click="vm.changepwd()">
                <div class="edit-btn-content">CHANGER</div>
            </div>
        </div>
    </div>
    </div>

</div>

<!-- More information -->
<div class="create-audience-background" ng-if="vm.generalinformationboolean">
    <div class="create-audience-modal">
        <div class="create-audience-modal-title">
            <h1 class="create-audience-modal-title-content">Modifier vos informations</h1>
            <img class="close-modal close-modal-generalinfo" src="images/cross-close-modal-logo.png" ng-click="vm.cancelfirststep()">
        </div>

        <form name="modifyForm" ng-submit="vm.submitForm(modifyForm.$valid)" class="formclass" novalidate>
            <div class="modify-information-wrapper">
                <label class="modify-information-title">Prénom</label>
                <input type="text" name="firstname" ng-model="vm.user.firstname" placeholder="{{vm.userinfo[0].firstname}}" ng-class="modifyForm.firstname.$error.minlength && modifyForm.firstname.$touched ? 'modify-information-input-not-ok' : 'modify-information-input'" autocomplete="off" ng-minlength="2" required>
                <p ng-if=" modifyForm.firstname.$error.minlength && modifyForm.firstname.$touched" class="help-block-modify">Modifier mes information</p>
            </div>

            <div class="modify-information-wrapper">
                <label class="modify-information-title">Nom</label>
                <input type="text" name="lastname" ng-model="vm.user.lastname" placeholder="{{vm.userinfo[0].lastname}}" ng-class="modifyForm.lastname.$error.minlength && modifyForm.lastname.$touched ? 'modify-information-input-not-ok' : 'modify-information-input'" autocomplete="off" ng-minlength="2" required>
                <p ng-if="modifyForm.lastname.$error.minlength && modifyForm.lastname.$touched" class="help-block-modify">Votre nom doit contenir plus de 2 caractères</p>
            </div>

            <div class="modify-information-wrapper">
                <label class="modify-information-title">Email</label>
                <input type="text" name="email" ng-model="vm.user.email" placeholder="{{vm.userinfo[0].email}}" ng-change="vm.emailtest()" class="modify-information-disabled" autocomplete="off" ng-disabled="true" required>
                <p ng-if="true" class="info-email">Envoyez-un email <a href="mailto:brice@deepsight.io">brice@deepsight.io</a> pour modifier votre email</p>
            </div>

            <div class="modify-information-wrapper">
                <label class="modify-information-title">Entreprise</label>
                <input type="text" name="organization" ng-model="vm.user.organization" placeholder="{{vm.userinfo[0].organization}}" ng-class="modifyForm.organization.$error.minlength && modifyForm.organization.$touched ? 'modify-information-input-not-ok' : 'modify-information-input'" autocomplete="off" ng-minlength="2" required>
                <p ng-if="modifyForm.organization.$error.minlength && modifyForm.organization.$touched" class="help-block-modify">Le om de votre entreprise doit au moins contenir 2 caractères</p>
            </div>

            <!--             <div class="modify-information-wrapper">
                <label class="modify-information-title">Num TVA intracommunautaire</label>
                <input type="text" name="tvanumber" ng-model="vm.user.tva" placeholder="{{vm.userinfo[0].tva}}" ng-change="vm.tvatest()" ng-class="(modifyForm.tvanumber.$error.minlength || modifyForm.tvanumber.$error.maxlength) && modifyForm.tvanumber.$touched ? 'modify-information-input-not-ok' : 'modify-information-input'" autocomplete="off" ng-minlength="13" ng-maxlength="13" required>
                <p ng-if="!vm.tvaboolean && modifyForm.tvanumber.$touched" class="help-block-modify">Le numéro de TVA intracommunautaire, comprend le code pays : 2 lettres majusculse, 2 chiffres correspondant à la clef informatique, et 9 chiffres pour votre numéro SIREN </p>
            </div> -->

            <button type="submit" ng-class="!vm.emailboolean || modifyForm.$invalid  ? 'submit-button-disabled':'submit-button' " class="submit-save" ng-disabled="(modifyForm.$invalid) || (!vm.emailboolean)">
                <div ng-class="modifyForm.$invalid ?'submit-button-text-disabled': 'submit-button-text' ">SAVE</div>
            </button>
        </form>

    </div>
</div>
<!-- End of more information -->

<!-- Change password information -->
<div class="create-audience-background" ng-if="vm.forgotpwd">
    <div class="create-audience-modal">
        <div class="create-audience-modal-title">
            <h1 class="create-audience-modal-title-content" ng-click="vm.testoldpassword()">Modifier vos informations</h1>
            <img class="close-modal close-modal-generalinfo" src="images/cross-close-modal-logo.png" ng-click="vm.cancelfirststep()">
        </div>

        <form name="passwordupdateForm" ng-submit="vm.submitpwdForm(passwordupdateForm.$valid)" class="formclass" novalidate>

            <div class="modify-information-wrapper">
                <label class="modify-information-title">Nouveau mot de passe</label>
                <input type="password" name="newpassword" ng-model="vm.pwd.newpwd" ng-change="vm.passwordtest()" placeholder="" ng-class="!vm.passwordboolean && passwordupdateForm.newpassword.$touched ? 'modify-information-input-not-ok' : 'modify-information-input'" autocomplete="off" required>
                <p ng-if="!vm.passwordboolean && passwordupdateForm.newpassword.$touched" class="help-block-modify">Le mot de passe doit au moins contenir, une majuscule, une minuscule, un nombre ainsi qu'un minimum de 8 caractères</p>
            </div>

            <div class="modify-information-wrapper">
                <label class="modify-information-title">Confirmation du nouveau mot de passe</label>
                <input type="password" name="newpasswordconf" ng-model="vm.pwd.newpwdconf" placeholder="" ng-class="passwordupdateForm.newpasswordconf.$error.minlength && passwordupdateForm.newpasswordconf.$touched ? 'modify-information-input-not-ok' : 'modify-information-input'" autocomplete="off" ng-minlength="2" ng-disabled="!vm.passwordboolean" ng-style=" !vm.passwordboolean && {'background-color':'#D8D8D8'}" required>
                <p ng-if="(vm.pwd.newpwd !== vm.pwd.newpwdconf) && passwordupdateForm.newpasswordconf.$touched" class="help-block-modify">Les deux mot de passe ne correspondent pas</p>
            </div>

            <button type="submit" ng-class="!vm.passwordboolean || (vm.pwd.newpwd !== vm.pwd.newpwdconf) || passwordupdateForm.$invalid  ? 'submit-button-disabled':'submit-button' " class="submit-save" ng-disabled="(passwordupdateForm.$invalid)|| (vm.pwd.newpwd !== vm.pwd.newpwdconf) || (!vm.passwordboolean)">
                <div ng-class="passwordupdateForm.$invalid ?'submit-button-text-disabled': 'submit-button-text' ">SAVE</div>
            </button>
        </form>

    </div>
</div>
<!-- End of more information -->
