<loader ng-if="vm.pageloadingboolean"></loader>

<div class="category-block">
    <div class="category-title" ng-click="vm.createtag()">My tags</div>
    <div class="category-subtitle"> Affichage de(s)
        <span style='color:#1580EF'>1</span> tag(s) Deepsight à déposer sur votre site</div>

    <div class="tags-wrapper">
        <div class="tag-block">
            <div class="information-copy-title-tag">
                Tag de conversion
            </div>
            <div class="information-copy-block-tag">
                <div class="information-copy-block-title-tag">
                    Descriptif
                </div>
                <div class="information-copy-block-content-tag">
                    Le tag de conversion va permettre le tracking des des ventes sur le site de Sarenza
                </div>
            </div>
            <div class="information-copy-block-tag">
                <div class="information-copy-block-title-tag">
                    URL du dépôt de tag
                </div>
                <div class="information-copy-block-content-tag">
                    http://www.sarenza.com/MyBasket.aspx
                </div>
            </div>
            <div class="information-copy-block-tag">
                <div class="information-copy-block-title-tag">
                    Variable à récupérer
                </div>
                <div class="information-copy-block-content-tag">
                    url
                        , &nbsp
                        ProductsPrice
                        , &nbsp
                        PageType
                        , &nbsp
                        PageID
                        , &nbsp
                        CustomerID
                </div>
            </div>

            <div class="information-copy-block-tag">
                <div class="information-copy-block-title-tag">
                </div>
            </div>
            <div class="script-wrapper">
                <div class="script-copy">
                    &lt;script type="text/javascript"&gt;
                    <br> &nbsp&nbsp&nbsp&nbsp(function() {
                    <br> &nbsp&nbsp&nbsp&nbspconsole.log("le tag est bien actif!")
                    <br> &nbsp&nbsp&nbsp&nbspvar s = document.createElement("script"),
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp s0 = document.getElementsByTagName("script")[0];
                    <br> &nbsp&nbsp&nbsp&nbsps.type = "text/javascript";
                    <br> &nbsp&nbsp&nbsp&nbsps.async = true;
                    <br> &nbsp&nbsp&nbsp&nbspvar dsP = {
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspurl: window.location.href,
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspProductsPrice:'',
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPageType:'',
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPageID:'',
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCustomerID:'',
                    <br> &nbsp&nbsp&nbsp&nbsp};
                    <br> &nbsp&nbsp&nbsp&nbsp&nbspvar urlParam = []
                    <br> &nbsp&nbsp&nbsp&nbsp&nbspfor (var i in dsP) {
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspurlParam.push(encodeURI(i) + "=" + encodeURI(dsP[i]));
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsp}
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsps.src = 'https://tr.deepsight.io/adv?' + urlParam.join("&");
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsps0.parentNode.insertBefore(s, s0);
                    <br> &nbsp&nbsp&nbsp&nbsp&nbsp})();
                    <br> &lt;/script&gt;
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- End of more information -->

<ui-view></ui-view>
