<div class="category-block">
    <div class="category-title">Rapports de campagnes</div>

    <div class="category-subtitle"> Consultez ici tous vos rapports de campagnes Deepsight
    </div>
    <div class="report-wrapper">

        <div class="chose-campaign-name">
            <div class="chose-campaign-name-title">Choix de la campagne</div>
            <div class="chose-btn-wrapper-campaign campaign-choice-menu">
                <div class="chose-btn-campaign" ng-click="vm.showfilter()">
                    <div class="chose-btn-content-campaign">
                        <div class="choice-to-chose-no-campaign-blue">
                            {{vm.choicename}}
                        </div>
                        <div class="choice-show-noshow-campaign" ng-class="vm.filterclass"></div>
                    </div>
                </div>
                <div class="chose-list-campaign" ng-class="vm.filtershown">
                    <div class="chose-spacer-campaign"></div>
                    <div class="choice-campaign" ng-repeat="choice in vm.campaigntochose" ng-click="vm.selectfilter($index)">
                        <div class="choice-content-campaign" ng-class="{activefilterclass : vm.activefilter === filter.name}">{{choice.name}}</div>
                    </div>
                </div>
                <div class="chose-list-bottom-campaign" ng-class="vm.filterbottom"></div>
            </div>
        </div>

        <div class="chose-campaign-name" ng-if="vm.abtestboolean">
            <div class="chose-campaign-name-title">Choix de l'option pour l'analyse A-B Test</div>
            <div class="chose-btn-wrapper-campaign">
                <div class="chose-btn-campaign" ng-click="vm.showfiltercampaigntype()">
                    <div class="chose-btn-content-campaign">
                        <div class="choice-to-chose-no-campaign-blue">
                            {{vm.choicecampaignname}}
                        </div>
                        <div class="choice-show-noshow-campaign" ng-class="vm.filterclasscampaigntype"></div>
                    </div>
                </div>
                <div class="chose-list-campaign" ng-class="vm.filtershowncampaigntype">
                    <div class="chose-spacer-campaign"></div>
                    <div class="choice-campaign" ng-repeat="choice in vm.campaigntype" ng-click="vm.selectfiltercampaigntype($index)">
                        <div class="choice-content-campaign" ng-class="{activefilterclass : vm.activefilter === filter.name}">{{choice.name}}</div>
                    </div>
                </div>
                <div class="chose-list-bottom-campaign" ng-class="vm.filterbottomcampaigntype"></div>
            </div>
        </div>

        <div class="analytics-block">
            <div class="information-wrapper" ng-if="vm.informationboolean">
                <div class="information-copy">
                    <div class="information-copy-title">
                        Information
                    </div>
                    <div class="information-copy-block">
                        <div class="information-copy-block-title">
                            Nom de la campagne
                        </div>
                        <div class="information-copy-block-content">
                            {{vm.campaignname}}
                        </div>
                    </div>
                    <div class="information-copy-block">
                        <div class="information-copy-block-title">
                            Objet de la campagne
                        </div>
                        <div class="information-copy-block-content">
                            {{vm.campaignsubject}}
                        </div>
                    </div>
                </div>
                <div class="information-numbers">
                    <div class="information-copy-title">
                        Numbers
                    </div>
                    <div class="information-copy-block">
                        <div class="information-copy-block-title">
                            Volume total
                        </div>
                        <div class="information-copy-block-content">
                            {{vm.volumetotal}}
                        </div>
                    </div>
                    <div class="information-copy-block">
                        <div class="information-copy-block-title">
                            Mode
                        </div>
                        <div class="information-copy-block-content">
                            {{vm.campaigncompensationmode}}
                        </div>
                    </div>
                    <div class="information-copy-block">
                        <div class="information-copy-block-title">
                            Budget
                        </div>
                        <div class="information-copy-block-content">
                            ${{vm.campaingbudget}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="ab-test-comparison-block" ng-if="vm.abtestcomparisonboolean">
                <div class="audience-features">
                    <div class="column1-report">
                        <p class="column-content-features-report">Segment</p>
                    </div>
                    <div class="column2-report">
                        <div class="column-content-features-report">TR</div>
                    </div>
                    <div class="column2-report">
                        <div class="column-content-features-report">CR</div>
                    </div>
                    <div class="column2-report">
                        <div class="column-content-features-report">CPL</div>
                    </div>
                    <div class="column2-report">
                        <div class="column-content-features-report">CAC</div>
                    </div>
                    <div class="column2-report">
                        <div class="column-content-features-report">Ag Basket</div>
                    </div>
                    <div class="column2-report">
                        <div class="column-content-features-report">CTR</div>
                    </div>
                    <div class="column2-report">
                        <div class="column-content-features-report">OR</div>
                    </div>
                    <div class="column2-report">
                        <div class="column-content-features-report">Budget</div>
                    </div>
                    <div class="column2-report">
                        <div class="column-content-features-report">Volume</div>
                    </div>
                </div>
                <div class="kpi-container">
                    <div class="kpi-segment">
                        <div class="column1-report">
                            <p class="column-content-report blue-style">Segment A</p>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report blue-style">{{vm.trA}}%</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report blue-style">{{vm.crA}}%</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report blue-style">${{vm.cplA}}</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report blue-style">${{vm.cacA}}</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report blue-style">${{vm.averagebasketA}}</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report blue-style">{{vm.ctrA}}%</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report blue-style">{{vm.orA}}%</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report blue-style">${{vm.campaingbudgetA}}</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report blue-style">{{vm.volumetotalA}}</div>
                        </div>
                    </div>
                    <div class="kpi-segment">
                        <div class="column1-report">
                            <p class="column-content-report">Segment B</p>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report">{{vm.trB}}%</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report">{{vm.crB}}%</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report">${{vm.cplB}}</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report">${{vm.cacB}}</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report">${{vm.averagebasketB}}</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report">{{vm.ctrB}}%</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report">{{vm.orB}}%</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report">${{vm.campaingbudgetB}}</div>
                        </div>
                        <div class="column2-report">
                            <div class="column-content-report">{{vm.volumetotalB}}</div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="analytics-sublock" ng-if="vm.analyticsboolean">
                <div class="analytics-sublock-title">Analytics</div>
                <div class="analytics-sublock-kpi">
                    <div class="analytics-sublock-subtitle">
                        Main KPI
                    </div>
                    <div class="kpi-wrapper">
                        <div class="kpi-block">
                            <div class="kpi-block-unique">
                                <div class="kpi-number color1">2381</div>
                                <div class="kpi-title">Opens</div>
                            </div>
                            <div class="kpi-block-unique">
                                <div class="kpi-number color1">12.55%</div>
                                <div class="kpi-title color2">Open Rate</div>
                            </div>
                            <div class="kpi-block-unique">
                                <div class="kpi-number color2">596</div>
                                <div class="kpi-title">Clicks</div>
                            </div>
                            <div class="kpi-block-unique">
                                <div class="kpi-number color2">25,03%</div>
                                <div class="kpi-title">RR</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="analytics-sublock-graph">
                    <div class="analytics-sublock-kpi">
                        <div class="analytics-sublock-subtitle">
                            Last 24h - Performance
                        </div>
                        <div class="graph-wrapper">
                            <canvas id="line" height="100" class="chart chart-line" chart-data="vm.data1" chart-labels="vm.labels1" chart-series="vm.series1" chart-options="vm.options1" chart-dataset-override="vm.datasetOverride1" chart-colors="vm.chartcolor1" chart-click="vm.onClick1">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="analytics-sublock">
                    <div class="analytics-sublock-title">Analytics</div>
                    <div class="analytics-sublock-kpi">
                        <div class="analytics-sublock-subtitle">
                            Main KPI - Sales
                        </div>
                        <div class="kpi-wrapper">
                            <div class="kpi-block">
                                <div class="kpi-block-unique">
                                    <div class="kpi-number color3">$15739</div>
                                    <div class="kpi-title">Ventes</div>
                                </div>
                                <div class="kpi-block-unique">
                                    <div class="kpi-number color3">43</div>
                                    <div class="kpi-title">Nb Ventes</div>
                                </div>
                                <div class="kpi-block-unique">
                                    <div class="kpi-number color3">$366,02</div>
                                    <div class="kpi-title">Av Basket</div>
                                </div>
                                <div class="kpi-block-unique">
                                    <div class="kpi-number color3">$15,.67</div>
                                    <div class="kpi-title">CAC</div>
                                </div>
                                <div class="kpi-block-unique">
                                    <div class="kpi-number color3">7%</div>
                                    <div class="kpi-title">CR</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="analytics-sublock-kpi">
                        <div class="analytics-sublock-subtitle">
                            Main KPI - Registration
                        </div>
                        <div class="kpi-wrapper">
                            <div class="kpi-block">
                                <div class="kpi-block-unique">
                                    <div class="kpi-number color4">{{vm.registrationstodisplay}}</div>
                                    <div class="kpi-title">Registration</div>
                                </div>
                                <div class="kpi-block-unique">
                                    <div class="kpi-number color4">${{vm.cpl}}</div>
                                    <div class="kpi-title">CPL</div>
                                </div>
                                <div class="kpi-block-unique">
                                    <div class="kpi-number color4">{{vm.tr}}%</div>
                                    <div class="kpi-title">TR</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="analytics-sublock-graph">
                        <div class="analytics-sublock-kpi">
                            <div class="analytics-sublock-subtitle">
                                Last 24h - Performance
                            </div>
                            <div class="graph-wrapper">
                                <canvas id="line" height="100" class="chart chart-line" chart-data="vm.data2" chart-labels="vm.labels2" chart-series="vm.series2" chart-options="vm.options2" chart-dataset-override="vm.datasetOverride2" chart-colors="vm.chartcolor2" chart-click="vm.onClick2">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End of more information -->

    <ui-view></ui-view>
