<div class="background-signup">
    <div class="sign-in-block">
        <div class="sign-in-information-error-block" ng-class="vm.showmessage">
            <div class="sign-in-information-block-content">{{vm.messagetoshow}}</div>
        </div>
        <img class="logo-deepsight" src="images/logo-deepsight.png">
        <h1 class="sign-in-title">Réinitialiser votre mot de passe</h1>
        <h2 class="sign-in-instructions"></h2>
        
        <form name="signInForm" ng-submit="vm.submitForm(signInForm.$valid)">

            <label class="form-label">Email</label>
            <input type="email" name="email" ng-model="vm.user.email" ng-change="vm.emailtest()" ng-class="!vm.emailboolean && signInForm.email.$touched ? 'sign-up-input-not-ok' : 'sign-up-input'" autocomplete="off" required>
            <p ng-if="!vm.emailboolean && signInForm.email.$touched" class="help-block">Un email valide est requis</p>

            <button type="submit" ng-class="(!vm.emailboolean) || (signInForm.$invalid) ? 'submit-button-disabled':'submit-button' " ng-disabled="(!vm.emailboolean) || (signInForm.$invalid)">
                <div ng-class="signInForm.$invalid ?'submit-button-text-disabled': 'submit-button-text' ">ENVOYER</div>
            </button>

        </form>
        <div class="spacer-styled"></div>
        <p class="sign-in-another-option">Vous vous souvenez de votre mot de passe? <a ui-sref="signin" style="color:#1580EF;">Retour à la connexion!</a></p>
    </div>
</div>
