<loader ng-if="vm.signinboolean"></loader>
<div class="background-signup">
    <div class="sign-in-block">
        <img class="logo-deepsight" src="images/logo-deepsight.png" ng-click="vm.logout()">
        <h1 class="sign-in-title">Connexion</h1>
        <h2 class="sign-in-instructions">Connectez-vous au service deepsight et construisez vos segments en un claquement de doigt!</h2>
        <h2 class="sign-in-instructions" ng-if="vm.signinfailed" style="color:#EF2B2D">L'email n'existe pas ou le mot passe n'est pas le bon.
            <br>Essayez à nouveau</h2>
        <form name="signInForm" ng-submit="vm.submitForm(signInForm.$valid)">

            <label class="form-label">E-mail</label>
            <input type="email" name="email" ng-model="vm.user.email" ng-change="vm.emailtest()" ng-class="!vm.emailboolean && signInForm.email.$touched ? 'sign-up-input-not-ok' : 'sign-up-input'" autocomplete="off" required>
            <p ng-if="!vm.emailboolean && signInForm.email.$touched" class="help-block">Un email valide est requis</p>

            <label class="form-label">Mot de passe</label>
            <input type="password" name="password" ng-model="vm.user.password" ng-class="signInForm.password.$error.minlength && signInForm.password.$touched ? 'sign-up-input-not-ok' : 'sign-up-input'" autocomplete="off" ng-minlength="8" required>
            <p ng-if="signInForm.password.$error.minlength && signInForm.password.$touched" class="help-block">Le mot de passe contient au moins 8 caracères</p>
            <p class="reset-pwd"><a ui-sref="resetpwdreq" class="resetpwd-link">Mot de passe oublié ?</a></p>

            <button type="submit" ng-class="(!vm.emailboolean) || (signInForm.$invalid) ? 'submit-button-disabled':'submit-button' " ng-disabled="(!vm.emailboolean) || (signInForm.$invalid)">
                <div ng-class="signInForm.$invalid ?'submit-button-text-disabled': 'submit-button-text' ">CONNEXION</div>
            </button>

        </form>
        <div class="spacer-styled"></div>
        <p class="sign-in-another-option">Vous n'avez pas encore de compte Deepsight? <a ui-sref="signup" style="color:#1580EF;">Inscription</a></p>
    </div>
</div>
