<loader ng-if="vm.signupboolean"></loader>
<div class="background-signup">
    <div class="sign-in-block">
        <img class="logo-deepsight" src="images/logo-deepsight.png">
        <h1 class="sign-in-title">Inscription</h1>
        <h2 class="sign-in-instructions">Créez votre compte Deepsight et créez vos audiences personnalisées</h2>
        <h2 class="sign-in-instructions" ng-if="vm.signupfailed" style="color:#EF2B2D">Cet email est déjà associé à compte Deepsight
            <br>Try again!</h2>
        <form name="signUpForm" ng-submit="vm.submitForm(signUpForm.$valid)" novalidate>

            <label class="form-label">Prénom</label>
            <input type="text" name="firstname" ng-model="vm.user.firstname" ng-class="signUpForm.firstname.$error.minlength && signUpForm.firstname.$touched ? 'sign-up-input-not-ok' : 'sign-up-input'" autocomplete="off" ng-minlength="2" required>
            <p ng-if=" signUpForm.firstname.$error.minlength && signUpForm.firstname.$touched " class="help-block">Votre nom doit contenir plus de 2 caractères</p>

            <label class="form-label">Nom</label>
            <input type="text" name="lastname" ng-model="vm.user.lastname" ng-class="signUpForm.lastname.$error.minlength && signUpForm.lastname.$touched ? 'sign-up-input-not-ok' : 'sign-up-input'" autocomplete="off" ng-minlength="2" required>
            <p ng-if="signUpForm.lastname.$error.minlength && signUpForm.lastname.$touched" class="help-block">Votre nom doit contenir plus de 2 caractères</p>

            <label class="form-label">Email</label>
            <input type="email" name="email" ng-model="vm.user.email" ng-change="vm.emailtest()" ng-class="!vm.emailboolean && signUpForm.email.$touched ? 'sign-up-input-not-ok' : 'sign-up-input'" autocomplete="off" required>
            <p ng-if="!vm.emailboolean && signUpForm.email.$touched" class="help-block">Un email valide est requis</p>

            <label class="form-label">Entreprise</label>
            <input type="text" name="organization" ng-model="vm.user.organization" ng-class="signUpForm.organization.$error.minlength && signUpForm.organization.$touched ? 'sign-up-input-not-ok' : 'sign-up-input'" autocomplete="off" ng-minlength="2" required>
            <p ng-if="signUpForm.organization.$error.minlength && signUpForm.organization.$touched" class="help-block">Le nom de votre entreprise doit au moins contenir 2 caractères</p>

            <!--             <label class="form-label">Num TVA intracommunautaire</label>
            <input type="text" name="tvanumber" ng-model="vm.user.tva" ng-change="vm.tvatest()" ng-class="(signUpForm.tvanumber.$error.minlength || signUpForm.tvanumber.$error.maxlength) && signUpForm.tvanumber.$touched ? 'sign-up-input-not-ok' : 'sign-up-input'" autocomplete="off" ng-minlength="13" ng-maxlength="13" required>
            <p ng-if="!vm.tvaboolean && signUpForm.tvanumber.$touched" class="help-block">Le numéro de TVA intracommunautaire, comprend le code pays : 2 lettres majusculse, 2 chiffres correspondant à la clef informatique, et 9 chiffres pour votre numéro SIREN </p> -->

            <label class="form-label">Mot de passe</label>
            <input type="password" name="password" ng-model="vm.user.password" ng-change="vm.passwordtest()" ng-class="!vm.passwordboolean && signUpForm.password.$touched? 'sign-up-input-not-ok' : 'sign-up-input'" autocomplete="off" ng-minlength="8" required>
            <p ng-if="!vm.passwordboolean && signUpForm.password.$touched" class="help-block">Le mot de passe doit au moins contenir, une majuscule, une minuscule, un nombre ainsi qu'un minimum de 8 caractères</p>

            <label class="form-label">Confirmation du mot de passe</label>
            <input type="password" name="passwordconf" ng-model="vm.user.passwordconf" ng-class="(vm.user.password !== vm.user.passwordconf) && signUpForm.passwordconf.$touched ? 'sign-up-input-not-ok' : 'sign-up-input'" autocomplete="off" ng-disabled="!vm.passwordboolean" ng-style=" !vm.passwordboolean && {'background-color':'#DDDFE0'}" required>
            <p ng-if=" (vm.user.password !== vm.user.passwordconf) && signUpForm.passwordconf.$touched" class="help-block">Les deux mots de passe ne correspondent pas</p>

            <!--             <button type="submit" ng-class="!vm.emailboolean || !vm.passwordboolean || !vm.tvaboolean || signUpForm.$invalid || (vm.user.password !== vm.user.passwordconf) ? 'submit-button-disabled':'submit-button' " ng-disabled="(signUpForm.$invalid) || (!vm.tvaboolean) || (!vm.passwordboolean) || (!vm.emailboolean)">
                <div ng-class="signUpForm.$invalid ?'submit-button-text-disabled': 'submit-button-text' ">SIGN UP</div>
            </button> -->
            <button type="submit" ng-class="!vm.emailboolean || !vm.passwordboolean || signUpForm.$invalid || (vm.user.password !== vm.user.passwordconf) ? 'submit-button-disabled':'submit-button' " ng-disabled="(signUpForm.$invalid) || (!vm.passwordboolean) || (!vm.emailboolean) || (vm.user.password !== vm.user.passwordconf)">
                <div ng-class="signUpForm.$invalid ?'submit-button-text-disabled': 'submit-button-text' ">S'INSCRIRE</div>
            </button>

        </form>
        <div class="spacer-styled"></div>
        <p class="sign-in-another-option">Vous avez déjà un compte? <a ui-sref="signin" style="color:#1580EF;">Connexion</a></p>

    </div>
</div>
